node_modules/
.cache/
.parcel-cache/
src/config.js

dist/
images/
cypress/fixtures
cypress/plugins
cypress/support
Figma/
.eslintrc.json
.postcssrc
.prettierrc
package-lock.json
todo
src/_old

babel.config.js

jest.config.js
