@use '../general/variables';
@use '../general/mixins';

.footer {
  overflow-x: hidden;
  padding-top: calc(5vw + 1em);
  background-color: variables.$secondary-colour;
  color: variables.$alternate-colour;

  @include mixins.breakpoint-up(large) {
    display: flex;
    justify-content: space-between;
  }

  &__owner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;

    @include mixins.breakpoint-up(medium) {
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: flex-start;
    }

    &.slide {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__photo {
    width: 80%;
    max-width: 10em;

    @include mixins.breakpoint-up(medium) {
      padding-right: 1em;
    }
  }

  &__contactmap {
    transform: translateX(50%);
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;

    @include mixins.breakpoint-up(large) {
      display: flex;
      justify-content: flex-end;
    }

    &.slide {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__contact {
    p {
      white-space: nowrap;
    }
  }

  &__map {
    width: 80%;
    max-width: 20em;

    @include mixins.breakpoint-up(large) {
      padding-left: 1em;
    }
  }
}
