@use '../general/variables';
@use '../general/mixins';

header {
  height: 100vh;
  padding-top: 1em;
  background-color: var(--secondary-colour);
  background-image: url(../imgs/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  h1 {
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    color: var(--alternate-colour);

    @include mixins.breakpoint-up(medium) {
      font-size: 2rem;
    }
  }

  .las {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    color: var(--alternate-colour);
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 250ms ease-in-out;

    &:hover,
    &:focus {
      color: var(--primary-colour);
    }
  }

  .la-sun {
    display: none;
  }
}
