@use '../general' as g;

.pageVideos {
  margin-top: 3em;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  gap: 1em;

  @include g.breakpoint-up(medium) {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
  }

  &__container {
    position: relative;
  }

  &__video {
    max-width: 90%;

    &:first-of-type {
      margin-bottom: 2em;
    }
  }

  &__control {
    position: absolute;
    width: 2em;
    height: 2em;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 1px solid var(--secondary-colour);
    background-color: var(--alternate-colour);
    color: var(--secondary-colour);
    cursor: pointer;
    opacity: 0.75;

    &:hover,
    &focus {
      opacity: 1;
    }
  }
}
