.parallax {
  height: 100vh;
  padding-top: 1em;
  background-color: var(--parallax-colour);
  background-image: url(../imgs/parallax.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
