@use '../general/mixins';

body {
  background-color: var(--secondary-colour);
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-colour);
  overflow-x: hidden;

  @include mixins.breakpoint-up(large) {
    margin-top: 3em; //1em = height of text in nav, 1em = padding top, 1em = padding bottom TODO need better way of doing this
  }
}

a {
  color: var(--secondary-colour);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
