@use 'variables';

body {
  font-family: 'Montserrat', sans-serif;
  color: variables.$primary-colour;
}

a {
  color: variables.$secondary-colour;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
