//Colours
$dark-colour: black;
$light-colour: white;
$secondary-colour: #196abb;
$alternate-secondary-colour: #90daf1;
$parallax-colour: #ff9862;
$highlight: $light-colour;

$box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);
$alternate-box-shadow: 0.25em 0.25em 0.25em rgba(255, 255, 255, 0.25);

//Transitions
$transition-time: 500ms;
$transition-short: $transition-time / 2;
$easing: ease-in-out;

//Sizing
$border-radius: 0.25em;

:root {
  --primary-colour: #{$light-colour};
  --alternate-colour: #{$dark-colour};
  --secondary-colour: #{$secondary-colour};
  --parallax-colour: #{$parallax-colour};
  --box-shadow: #{$box-shadow};
  --highlight: #{$highlight};

  --transition-time: #{$transition-time};
  --transition-short: #{$transition-short};
  --easing: #{$easing};

  --border-radius: #{$border-radius};
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-colour: #{$dark-colour};
    --alternate-colour: #{$light-colour};
    --secondary-colour: #{$alternate-secondary-colour};
    --box-shadow: #{alternate-box-shadow};
  }
}

.dark {
  --primary-colour: #{$dark-colour};
  --alternate-colour: #{$light-colour};
  --secondary-colour: #{$alternate-secondary-colour};
  --box-shadow: #{alternate-box-shadow};
}
