//Colours
$primary-colour: black;
$alternate-colour: white;
$secondary-colour: #196abb;
$parallax-colour: #ff9862;

//Transitions
$transition-time: 500ms;
$easing: ease-in-out;

//Sizing
$border-radius: 0.25em;

@media (prefers-color-scheme: dark) {
  $primary-color: white;
  $alternate-color: black;
  $secondary-color: #90daf1;
}
